@{ 
    ViewBag.Title = "Sobre Nosotros";
}
<main class="container">
    <div class="imagen position-relative mt-5">
        <img src="https://img1.wsimg.com/isteam/ip/97f33c49-1557-4dfa-8738-50666ba3701a/Dise%C3%B1o%20sin%20t%C3%ADtulo%20(91).png/:/rs=w:1240,h:620,cg:true,m/cr=w:1240,h:620" class="img-fluid" alt="Imagen de ALQUINET">
        <div class="texto-imagen position-absolute top-50 start-50 translate-middle text-center">
            <h2 class="titulo1 fw-bold text-white">ACERCA DE</h2>
            <h2 class="titulo2 fw-bold text-white">ALQUINET</h2>
        </div>
    </div>

    <div class="contenido mt-5">
        <h2 class="titulo text-center">LOS VALORES DE ALQUINET Bolivia</h2>

        <div class="row">
            <div class="col-md-6">
                <h3 class="subtitulo">Misión de ALQUINET Bolivia</h3>
                <p class="parrafo text-justify">
                    Ser una organización líder y profesional en la gestión y búsqueda de propiedades.
                    Nuestra misión en Alquinet es ofrecer soluciones integrales en el mercado de alquiler
                    de propiedades, especializándonos en casas y departamentos. Nos comprometemos a proporcionar
                    un servicio excepcional a nuestros clientes, brindando asesoramiento personalizado,
                    utilizando tecnología de vanguardia y asegurando transacciones exitosas. Buscamos ser
                    líderes en el sector, construyendo relaciones sólidas con propietarios e inquilinos, y
                    contribuyendo al desarrollo sostenible de comunidades habitables.
                </p>
            </div>
            <div class="col-md-6">
                <h3 class="subtitulo">Nuestra Visión</h3>
                <p class="parrafo text-justify">
                    En Alquinet, nuestro equipo de líderes acumula más de 100 años de experiencia combinada en el
                    sector inmobiliario, con un enfoque especializado en el mercado de alquiler de propiedades.
                    Nos dedicamos a proporcionar a nuestros clientes el mejor servicio en la industria, respaldado
                    por capacitación de vanguardia y conocimientos sólidos en el mercado local.
                    Nuestra visión es ser reconocidos como líderes en el sector de alquiler de casas y departamentos,
                    destacándonos por nuestro compromiso con el crecimiento y la excelencia en el servicio. Estamos
                    dedicados a ayudar a nuestros corredores y asesores de ventas a alcanzar su máximo potencial, lo
                    que nos llevará a un mayor éxito y satisfacción en nuestro trabajo diario.
                </p>
            </div>
        </div>
    </div>
</main>